<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.base_url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.base_url }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.base_url }}/css/rrssb.css" />
  <link rel="stylesheet" href="{{ site.base_url }}/css/solo.css">
  <script src="/scripts/jquery.js"></script>
  <link rel="canonical" href="{{ site.ull }}" />
</head>
<body>
  <article>
   <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
    </div>
  </article>
<script src="{{ site.base_url }}/scripts/rrssb.min.js"></script>
</body>
</html>
