<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.base_url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.base_url }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.base_url }}/css/rrssb.css" />
  <link rel="stylesheet" href="{{ site.base_url }}/css/solo.css">
</head>
<body>

  <article>
   <div class="container">
    <h3><a href="./">{{ site.title }}</a></h3>
    <hr/>
    <h2>{{ page.title }}</h2>

    {{ content }}
     </div>
   </article>

</body>
</html>
